*{
    margin: 0;
    box-sizing: border-box;
}
header{
    position: fixed;
    width: 100%;
}
.navigation{

}
.link_page{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}
.link{
    text-decoration: none;
    margin: 1vw;
    padding: 1vw;
    color: #fff;
    text-shadow: 0px 0px 8px #424242;
    font-weight: bolder;
    font-size: 2vw;
}
.description{
    height: 100vh;

}
.illustration{
    width: 33%;
    padding: 0.5vw 1vh;
    height: 100%;
}
.text_center{
    position: absolute;
    top: 40%;
    left: 25%;
    width: 40%;
    background-color: #ebe8e8c2;
    border-radius: 20px;
    padding: 1vw;

}
.title{
    color: #a879aa;
    text-shadow: 0px 0px 3px #6b206e;
    font-size: 5vw;
}